# Scrapy project config. Spider Cloud discovers spiders from this file.
# https://docs.scrapeunblocker.com/spider-cloud/getting-started?utm_source=github&utm_medium=integration&utm_campaign=example-repos
[settings]
default = amazon_spiders.settings

[deploy]
project = amazon_spiders
